.feed-posts {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    flex: 1;
}

.feed-posts h2 {
    font-size: 18px;
    margin-bottom: 16px;
    align-self: flex-start;
}

@media (max-width: 900px) {
    .feed-posts {
        width: 100%;
        padding: 0;
    }
}
